
@font-face {
    font-family: 'Raleway';
    src: url('ressources/polices/Raleway-VariableFont_wght.ttf');
}

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

header nav
{
    border: 5px solid red;
    display: flex;  /*Passage au flex*/
    align-items: center;    /*Les éléments s'alignent au centre vertical du conteneur*/
    justify-content:flex-end;  /*Permet de rassembler les éléments à droite*/

    flex-wrap: wrap;    /*Permet de laisser les éléments s'écouler sur plusieurs lignes*/
}

#logo   /*ID donc #*/
{
    margin-right: auto; /*Prend le + de place possible*/
    padding: 2em;   /*0 2em, reste a determiner..   permet d'éviter que le logo ne soit trop collé à gauche*/
}

#menu_principal
{
    display: flex;
    list-style-type: none;  /*Suppression des puces*/
}

nav a
{
    padding: 2em;   /*Place occuppée par les 3 liens, a un impact sur la place occupée par le nav et le header*/
}
